# Import necessary packages

In [1]:
import pandas as pd
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../scripts')))
import  preprocess as prep

# Load the data

In [2]:
fraud_data = pd.read_csv('../data/raw/Fraud_Data.csv')
ip_data = pd.read_csv('../data/raw/IpAddress_to_Country.csv')

# Handle missing values

In [3]:
fraud_data = prep.handle_missing_values(fraud_data)

# Data cleaning

In [4]:
fraud_data = prep.data_cleaning(fraud_data)

In [5]:
fraud_data.head()

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09,1
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0

# Exploratory Data Analysis

In [6]:
prep.eda(fraud_data)

Univariate Analysis:
             user_id                    signup_time  \
count  151112.000000                         151112
mean   200171.040970  2015-04-20 00:56:09.511329280
min         2.000000            2015-01-01 00:00:42
25%    100642.500000     2015-02-18 09:52:48.500000
50%    199958.000000            2015-04-19 04:41:30
75%    300054.000000  2015-06-18 14:47:22.750000128
max    400000.000000            2015-08-18 04:40:29
std    115369.285024                            NaN

                       purchase_time  purchase_value            age  \
count                         151112   151112.000000  151112.000000
mean   2015-06-16 02:56:38.759952896       36.935372      33.140704
min              2015-01-01 00:00:44        9.000000      18.000000
25%       2015-04-18 14:41:25.500000       22.000000      27.000000
50%       2015-06-18 13:46:17.500000       35.000000      33.000000
75%       2015-08-17 18:48:31.500000       49.000000      39.000000
max              2015-12-16 02:56:05      154.000000      76.000000
std                              NaN       18.322762       8.617733

         ip_address          class
count  1.511120e+05  151112.000000
mean   2.152145e+09       0.093646
min    5.209350e+04       0.000000
25%    1.085934e+09       0.000000
50%    2.154770e+09       0.000000
75%    3.243258e+09       0.000000
max    4.294850e+09       1.000000
std    1.248497e+09       0.291336

Bivariate Analysis:
class           0         1
browser
Chrome   0.901208  0.098792
FireFox  0.904835  0.095165
IE       0.913225  0.086775
Opera    0.910773  0.089227
Safari   0.909799  0.090201

# Merge datasets for geolocation analysis

In [7]:
merged_data = prep.merge_datasets(fraud_data, ip_data)

# Feature engineering

In [8]:
engineered_data = prep.feature_engineering(merged_data)

# Normalization and Scaling

In [9]:
columns_to_scale = ['purchase_value', 'signup_to_purchase']
scaled_data = prep.normalize_and_scale(engineered_data, columns_to_scale)

# Encode categorical features

In [10]:
columns_to_encode = ['source', 'browser', 'sex']
encoded_data = prep.encode_categorical(scaled_data, columns_to_encode)

In [11]:
# View the processed data
encoded_data.head()

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,ip_address_int,lower_bound_ip_address,upper_bound_ip_address,country,lower_bound_ip_address_int,signup_to_purchase,hour_of_day,day_of_week
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,-0.160204,QVPSPJUOCKZAR,2,0,1,39,7.327584e+08,0,732758368,NaN,NaN,NaN,NaN,-0.136057,2,5
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,-1.142592,EOGFQPIZPYXFZ,0,0,0,53,3.503114e+08,0,350311387,NaN,NaN,NaN,NaN,-1.571877,1,0
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,-1.197169,YSSKYOSJHPPLJ,2,3,1,53,2.621474e+09,1,2621473820,NaN,NaN,NaN,NaN,-1.577617,18,3
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,0.385567,ATGTXKYKUDUQN,2,4,1,41,3.840542e+09,0,3840542443,NaN,NaN,NaN,NaN,-1.420213,13,0
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,0.112681,NAUITBZFJKHWW,0,4,1,45,4.155831e+08,0,415583117,NaN,NaN,NaN,NaN,-0.182509,18,2